.box-holder,a.video-image span:after,h5.vcr_skin-color a:after{-webkit-transition:all .3s linear;-moz-transition:all .3s linear;-o-transition:all .3s linear;-ms-transition:all .3s linear;transition:all .3s linear}
.title_uppercase{text-transform:uppercase}
.title_bold{font-weight:700}
.extend-bg-fullwidth-left:after,.extend-bg-fullwidth-right:after{content:"";display:inline!important;height:100%;position:absolute;top:0;width:100%}
.extend-bg-fullwidth-left:after{right:100%}
.extend-bg-fullwidth-right:after{left:100%}
.extend-bg-fullwidth-left:after,.extend-bg-fullwidth-right:after{background:#f5f5f5}
.dt-sc-special-testimonial-container .extend-bg-fullwidth-left:after,.dt-sc-special-testimonial-container .extend-bg-fullwidth-right:after{background:0 0}
a.video-image span{font-size:40px;position:relative;height:75px;width:75px;line-height:75px;color:#fff;-webkit-transition:all .3s linear;-moz-transition:all .3s linear;-o-transition:all .3s linear;-ms-transition:all .3s linear;transition:all .3s linear}
a.video-image span:after{position:absolute;display:block;content:"";height:75px;width:75px;line-height:75px;border-radius:50%;background:#2b2b2b;color:#fff;-webkit-box-shadow:0 0 0 5px rgba(255,255,255,.35);-moz-box-shadow:0 0 0 5px rgba(255,255,255,.35);box-shadow:0 0 0 5px rgba(255,255,255,.35);z-index:-1;top:0;left:-2px}
a.video-image span:hover:after{background:#fff}
.image-overlay-icon .vc_single_image-wrapper{position:relative}
.image-overlay-icon .vc_single_image-wrapper:before{content:"";display:block;width:100%;height:100%;background:rgba(0,0,0,.4);top:0;left:0;right:0;margin:0 auto;position:absolute}
.image-overlay-icon a.video-image{position:absolute;top:50%;transform:translateY(-50%);-moz-transform:translateY(-50%);-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);left:0;right:0;margin:0 auto;width:100%;text-align:center}
.gradient-parallax:before{content:"";position:absolute;display:block;left:0;top:0;width:100%;height:100%;z-index:9;background:-moz-linear-gradient(left,rgba(242,243,246,1) 20%,rgba(242,243,246,.72) 30%,rgba(229,229,229,0) 40%,rgba(229,229,229,0) 100%);background:-webkit-linear-gradient(left,rgba(242,243,246,1) 20%,rgba(242,243,246,.72) 30%,rgba(229,229,229,0) 40%,rgba(229,229,229,0) 100%);background:linear-gradient(to right,rgba(242,243,246,1) 20%,rgba(242,243,246,.72) 30%,rgba(229,229,229,0) 40%,rgba(229,229,229,0) 100%);filter:progid: DXImageTransform.Microsoft.gradient( startColorstr='#f2f3f6', endColorstr='#00e5e5e5', GradientType=1)}
.gradient-parallax .gradient-content{z-index:9;padding-right:45px}
@media screen and (-webkit-min-device-pixel-ratio:0){
.safari-hack.vc_row.vc_row-flex,::i-block-chrome{display:block!important}
}
.rs_no-padding_column.wpb_column,.vc_col-md-12.wpb_column.rs_no-padding_column{margin-top:-1px;padding-bottom:0;margin-bottom:0}
.light-overlay:before{background:rgba(255,255,255,.8)}
.dark-overlay:before{background:rgba(0,0,0,.8)}
.gray-scale:hover,.gray-scale:hover img{-webkit-filter:grayscale(1);-moz-filter:grayscale(1);-ms-filter:grayscale(1);-o-filter:grayscale(1);filter:grayscale(1);-webkit-transition-property:-webkit-filter;-moz-transition-property:-moz-filter;-ms-transition-property:-ms-filter;-o-transition-property:-o-filter;transition-property:filter;-webkit-transition-duration:1s;-moz-transition-duration:1s;-ms-transition-duration:1s;-o-transition-duration:1s;transition-duration:1s}
.dt-sc-text-with-icon{width:100%;clear:both;float:left;font-weight:700;padding:12px 0 12px 20px}
.dt-sc-text-with-icon span{font-size:18px;margin:0 7px 0 0;position:relative;top:2px;font-weight:700}
.dt-sc-text-with-icon.border-bottom{border-bottom:1px solid}
.dt-sc-text-with-icon.border-right{border-right:1px solid}
.dt-sc-dark-bg .dt-sc-text-with-icon span{color:#fff}
.hosting-table{border-top:0;font-family:'Open Sans',sans-serif}
.hosting-table th{background:#e1e1e1;border-radius:5px 5px 0 0;color:#000;font-weight:600;font-size:16px;border-right:1px solid #fff;padding:20px 15px}
.hosting-table tbody tr:nth-child(2n+1) td,.hosting-table tr td{background:rgba(0,0,0,.95);border-right:1px solid rgba(255,255,255,.2);border-bottom:0;font-size:16px;font-weight:600;padding:25px 15px}
.hosting-table tbody tr td:last-child,.hosting-table tr th:last-child{border:none}
.hosting-table tbody tr:nth-child(2) td{background:rgba(0,0,0,.9)}
.hosting-table tbody tr:nth-child(3) td{background:rgba(0,0,0,.85)}
.hosting-table tbody tr:nth-child(4) td{background:rgba(0,0,0,.8)}
.hosting-table tbody tr:nth-child(5) td{background:rgba(0,0,0,.75)}
.hosting-table tbody tr:nth-child(6) td{background:rgba(0,0,0,.7)}
.hosting-table tbody tr:nth-child(7) td{background:rgba(0,0,0,.65)}
.hosting-table tbody tr:nth-child(8) td{background:rgba(0,0,0,.6)}
.hosting-table tbody tr:nth-child(9) td{background:rgba(0,0,0,.55)}
.hosting-table tbody tr:nth-child(10) td{background:rgba(0,0,0,.5)}
.hosting-table tbody tr:nth-child(11) td{background:rgba(0,0,0,.45)}
.hosting-table tbody tr:nth-child(12) td{background:rgba(0,0,0,.4)}
.hosting-table tbody tr td:first-child{position:relative}
.hosting-table tbody tr td:first-child:before{content:"";position:absolute;left:0;top:0;width:100%;height:100%;background:#60ae0d;z-index:-1}
.hosting-table tbody tr td.hot,.hosting-table tbody tr td.new{position:relative;overflow:hidden}
.hosting-table tbody tr td.hot:before,.hosting-table tbody tr td.new:before{content:"New";position:absolute;left:-20px;top:5px;padding:2px 22px;background:#60ae0d;color:#fff;font-size:12px;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg)}
.hosting-table tbody tr td.hot:before{content:"Hot";background:#e80505;padding:2px 24px}
.dt-sc-partially-rounded-alt{-webkit-transition:all .3s linear;-moz-transition:all .3s linear;-o-transition:all .3s linear;-ms-transition:all .3s linear;transition:all .3s linear}
.vc_min_height_right.wpb_column.vc_col-sm-6{margin-left:30px;width:calc(50% - 30px)}
.dt-sc-image-caption-with-counter{counter-reset:image-caption-counter}
.dt-sc-image-caption-with-counter h3{counter-increment:image-caption-counter}
.dt-sc-image-caption-with-counter h3:before{content:counter(image-caption-counter,decimal-leading-zero);font-size:36px;font-weight:600;border-bottom:2px solid;float:left;margin:-10px 20px 0 0;padding:0}
.dt-sc-image-caption-with-counter h3:before{font-family:'Open Sans',sans-serif}
.dt-sc-readmore-plus-icon:after,.dt-sc-readmore-plus-icon:before{-webkit-transition:all .3s linear;-moz-transition:all .3s linear;-o-transition:all .3s linear;-ms-transition:all .3s linear;transition:all .3s linear}
.dt-sc-readmore-plus-icon{position:absolute;right:0;bottom:0;width:60px;height:60px;text-indent:-9999px}
.dt-sc-readmore-plus-icon:after,.dt-sc-readmore-plus-icon:before{content:"";position:absolute;left:0;right:0;top:0;bottom:0;margin:auto}
.dt-sc-readmore-plus-icon:before{height:1px;width:30px}
.dt-sc-readmore-plus-icon:after{height:30px;width:1px}
.dt-sc-readmore-plus-icon:after,.dt-sc-readmore-plus-icon:before{background:#fff}
.dt-sc-readmore-plus-icon{background:#000}
.dt-sc-readmore-plus-icon:hover{background:rgba(0,0,0,.8)}
.diamond-narrow-square-border li:before{-webkit-transition:all .3s linear;-moz-transition:all .3s linear;-o-transition:all .3s linear;-ms-transition:all .3s linear;transition:all .3s linear}
.diamond-narrow-square-border li a{color:#000}
.diamond-narrow-square-border li a:hover{color:#fff}
.space-align-bg>.vc_column-inner{padding:160px 200px 143px 150px}
@-moz-document url-prefix(){
.space-align-bg>.vc_column-inner{padding:155px 200px 150px 150px}
}
.space-align-bg:after{position:absolute;content:"";width:30px;height:100%;background:#fff;right:0;top:0}
.space-align-bg-two>.vc_column-inner{padding:90px 200px 60px 100px!important}
.divider:after{position:absolute;content:"";width:30px;height:100%;background:#fff;left:-10px;right:0;top:0;margin:0 auto}
.divider:before{position:absolute;width:100%;content:"";height:30px;top:47%;left:0;background:#fff;z-index:9}
.box-holder .vc_column-inner{background-position:left;background-repeat:no-repeat;background-size:contain}
.box-holder{padding-top:40px;padding-right:50px;background:#f0f3f6;min-height:250px;padding-bottom:40px}
.box-holder:hover{background:#e8ecf0}
.box-holder:hover .first-img{left:50px;opacity:0}
.box-holder:hover .second-img{left:0;opacity:1}
.first-img{position:absolute;bottom:20px;transition:all .3s linear;left:0}
.second-img{opacity:0;position:absolute;bottom:0;left:-50px;transition:all .3s linear}
.box-holder.four,.box-holder.three{padding-top:60px;padding-bottom:30px}
.box-holder h3{font-size:21px}
.dt-sc-playon-video-modal{float:left;position:relative;width:100%}
.dt-sc-playon-video-modal img.ult-modal-img{width:100%}
.dt-sc-playon-video-modal.ult-adjust-bottom-margin{margin-bottom:0}
.dt-sc-playon-video-modal:before{background-color:rgba(0,0,0,.5);content:"";pointer-events:none;position:absolute;bottom:0;left:0;right:0;top:0}
.dt-sc-playon-video-modal:after{color:#fff;content:"\f3aa";font-family:Material-Design-Iconic-Font;font-size:30px;height:60px;line-height:60px;margin:auto;padding-left:5px;pointer-events:none;position:absolute;bottom:0;left:0;right:0;top:0;text-align:center;width:60px;-webkit-box-shadow:0 0 0 2px #fff inset;box-shadow:0 0 0 2px #fff inset;-webkit-border-radius:50%;border-radius:50%;-webkit-transition:all .3s ease 0s;transition:all .3s ease 0s}
.dt-sc-playon-video-modal:hover:after{color:#fff;-webkit-box-shadow:0 0 0 50px #108bea inset;box-shadow:0 0 0 50px #108bea inset}
.ult_modal-content{box-shadow:none!important;border-width:0!important}
.ult_modal-body{background:0 0!important}
.vcr_after-content{padding:60px 0 41px;display:inline-block;width:100%;float:left;text-align:center}
.vcr_after-content a.dt-sc-button{margin-top:-5px}
.vcr_after-content .vc_column-inner{padding:0}
.vcr_after-content h4{color:#fff}
.vcr_after-content a.dt-sc-button{background:#000}
.vc_row.vcr_after-content .vc_row{margin-left:auto;margin-right:auto}
.dt-sc-subtitle-text{font-size:16px}
.tab-with-bg .vc_column-inner{padding:60px!important}
.tab-with-bg .vc_column-inner:before{position:absolute;content:"";background:rgba(240,243,246,.9);left:0;top:0;width:100%;height:100%;display:block}
.dt-sc-light-bg-overlay:before{position:absolute;content:"";background:rgba(240,243,246,.9);width:100%;height:100%;left:0;top:0;display:block}
.dt-sc-light-bg-overlay .vc_column-inner{display:inline-flex}
.dt-sc-light-bg-overlay .vc_column-inner .wpb_wrapper{z-index:9}
.dt-sc-light-overlay>.vc_column-inner:before{position:absolute;content:"";background:rgba(240,243,246,.9);width:100%;height:100%;left:0;top:0;display:block}
.dt-sc-light-overlay .vc_column-inner{display:inline-flex}
.dt-sc-light-overlay .vc_column-inner .wpb_wrapper{z-index:9}
h5.vcr_skin-color a:after{position:absolute;content:"";width:0;height:2px;background:#000;left:0;right:0;bottom:-8px;margin:0 auto}
h5.vcr_skin-color a{position:relative}
h5.vcr_skin-color a:hover:after{width:100px}
.color-white{color:#fff}
.detail-section .odd-color{padding:105px 30px}
.detail-section .even-color{padding:105px 30px}
@-moz-document url-prefix(){
.detail-section .odd-color{padding:103px 30px}
.detail-section .even-color{padding:103px 30px}
}
.section101 .aio-icon-title.ult-responsive{color:#fff}
.section102 h2,.section102 h3{color:#fff!important}
.section102 h4{color:#fff;margin-bottom:10px}
.section103 .counter{padding:50px 0;border-right:1px solid #eaeaea}
.section103 .counter-last{padding:50px 0}
.vigil-icon-box .aio-icon-img{border:2px solid #fff;transition:all .3s linear 0s;-webkit-transition:all .3s linear 0s;-ms-transition:all .3s linear 0s;-moz-transition:all .3s linear 0s}
.vigil-icon-box .aio-icon-title{font-size:20px}
.section103 .content-area{position:absolute;left:0;top:0}
.section104 .dt-sc-image-caption.type7 .dt-sc-image-content{padding:0 40px 0 10px}
.section104 .dt-sc-image-caption.type7 .dt-sc-image-content{margin:50px 0 0}
.section105 .smile_icon_list li .icon_description h3{margin-bottom:10px;font-size:18px;font-weight:500}
.smile_icon_list li .icon_description p{line-height:26px}
.product-list .dt-sc-image-caption.type7 .dt-sc-image-content{margin:0;text-align:left}
.product-list ul.slick-dots{padding:40px 0 0}
.detail-section .odd-color{background:rgba(0,0,0,.05)}
.detail-section .even-color{background:rgba(0,0,0,.1)}
.txt-padding-align{padding-left:250px;padding-right:250px}
form.cctv-form p{float:left;width:100%}
.dt-sc-icon-box.type3 .icon-wrapper span{height:130px;line-height:130px}
.dt-sc-counter.type5:hover::after{background-color:transparent!important}
.dt-sc-counter.type5:hover .dt-sc-couter-icon-holder .icon-wrapper span,.dt-sc-counter.type5:hover h4{color:#2d2d2d}
.dt-sc-counter.type5:hover .dt-sc-couter-icon-holder .icon-wrapper span{opacity:.1}
.dt-sc-dark-bg.no-bg-color{background-color:transparent}
.dt-sc-sociables.hexagon-with-border li a{color:inherit!important}
.dt-sc-tabs-horizontal-frame-container.type3 .dt-sc-tabs-horizontal-frame-content:before{display:none}
.carousel-arrows a{display:inline-block!important}
.dt-sc-testimonial-wrapper .dt-sc-testimonial .dt-sc-testimonial-author cite small{font-weight:400}
.ipt_fsqm_main_form .selection-box:after,.ipt_fsqm_main_form .selection-box:before{display:none}
@media screen and (min-width:0\0){
.dt-sc-contact-details-on-map .dt-sc-map-overlay{padding:71px 0 0}
}
.ie9 .dt-sc-contact-details-on-map .dt-sc-map-overlay{padding:72px 0 0}
@media only screen and (min-width:1281px) and (max-width:1600px){
.space-align-bg>.vc_column-inner{padding:105px 130px 105px 130px}
.space-align-bg-two>.vc_column-inner{padding:30px 120px 20px 60px!important}
.box-holder .vc_column-inner{background-size:50%}
.detail-section .even-color{padding:77px 30px}
.detail-section .odd-color{padding:76px 30px}
.aio-icon-component{margin-bottom:10px}
}
@media only screen and (min-width:992px) and (max-width:1199px){
.hosting-contact-info-container .dt-sc-contact-info.type7 span{left:10px}
.dt-sc-contact-details-on-map .dt-sc-map-overlay{padding:72px 0 0}
.dt-sc-text-with-icon{font-size:13px}
.dt-sc-image-caption.type8 .dt-sc-image-title h6{line-height:normal}
.section104 .dt-sc-image-caption.type7 .dt-sc-image-content{margin:50px 0 50px}
}
@media only screen and (min-width:768px) and (max-width:991px){
.dt-sc-text-with-icon{font-size:11px}
.vc_row.vc_row-no-padding .dt-sc-map-overlay .wpb_column.vc_col-sm-3{padding-left:5px;padding-right:5px}
.vc_row.vc_row-no-padding .dt-sc-map-overlay .wpb_column.vc_col-sm-3 .dt-sc-contact-info.type3{font-size:13px;padding-left:10px;padding-right:10px}
.vc_row.vc_row-no-padding .dt-sc-map-overlay .wpb_column.vc_col-sm-3 .dt-sc-contact-info.type3 h6{font-size:15px}
.dt-sc-contact-details-on-map .dt-sc-map-overlay{padding:76px 0 0}
.rs_line_height p{line-height:normal!important}
.dt-sc-content-with-hexagon-shape{margin-left:16%}
.event-colored-box{margin-top:0}
.event-contact-info{margin-left:25%}
.architecture-process.rs_padding_override{padding-left:20px!important;padding-right:20px!important}
.column.wpb_column.dt-sc-one-fifth.vc_col-md-4{width:32%;margin-bottom:20px;min-height:290px}
.column.wpb_column.dt-sc-one-fifth.vc_col-md-4:nth-child(10),.column.wpb_column.dt-sc-one-fifth.vc_col-md-4:nth-child(4){margin-left:0}
.secondary-skin-gradient .dt-sc-contact-info,.secondary-skin-gradient .dt-sc-contact-info span{font-size:40px}
.detail-section .wpb_column.vc_column_container.vc_col-sm-3{width:100%!important}
}
@media only screen and (max-width:767px){
.fitness-form-container.extend-bg-fullwidth-right::after{background-color:transparent}
.fitness-form-container.extend-bg-fullwidth-right .vc_column-inner{padding-left:30px!important;padding-right:30px!important}
.fitness-contact-boxes .wpb_text_column,.fitness-contact-boxes .wpb_text_column:last-child,.fitness-contact-boxes .wpb_text_column:nth-child(2),.fitness-contact-boxes .wpb_text_column:nth-child(3){width:100%;padding:10px 0}
.hotel_blockquote-type4 blockquote.type4{margin-top:0}
.event-colored-box{margin-top:0}
.event-contact-info.wpb_column{width:320px;padding:85px 30px 30px;float:none}
.gradient-parallax:before{background:-moz-linear-gradient(to right,rgba(242,243,246,1) 20%,rgba(242,243,246,.75) 30%,rgba(242,243,246,.65) 40%,rgba(242,243,246,.55)60%,rgba(229,229,229,0) 100%);background:-webkit-linear-gradient(to right,rgba(242,243,246,1) 20%,rgba(242,243,246,.75) 30%,rgba(242,243,246,.65) 40%,rgba(242,243,246,.55)60%,rgba(229,229,229,0) 100%);background:linear-gradient(to right,rgba(242,243,246,1) 20%,rgba(242,243,246,.75) 30%,rgba(242,243,246,.65) 40%,rgba(242,243,246,.55)60%,rgba(229,229,229,0) 100%);filter:progid: DXImageTransform.Microsoft.gradient( startColorstr='#f2f3f6', endColorstr='#00e5e5e5', GradientType=1)}
.hosting-contact-info-container .dt-sc-contact-info.type7 span{left:0}
.hosting-contact-info-container .dt-sc-contact-info.type7{padding-left:100px}
.rs_client_testimonial-center .dt-sc-image-flip a{position:relative;display:block}
.rs_client_testimonial-center .dt-sc-image-flip{text-align:center}
.hosting-table th{font-size:13px;padding:13px 10px;text-transform:capitalize}
.hosting-table tbody tr:nth-child(2n+1) td,.hosting-table tr td{font-size:13px;padding:21px 10px}
.hosting-contact-info-container:before{content:none}
.extend-bg-fullwidth-left::after{content:none}
.rs_col_no_btm_space .wpb_column,.rs_col_no_btm_space.wpb_column,.rs_negative-margin_override.vc_row{margin-left:0!important}
.rs_padding_override_zero.vc_row,.rs_padding_override_zero.wpb_column .vc_column-inner{padding-left:0!important;padding-right:0!important}
.secondary-skin-gradient .dt-sc-contact-info,.secondary-skin-gradient .dt-sc-contact-info span{font-size:30px}
.rs_padding_override.vc_row,.rs_padding_override.wpb_column .vc_column-inner{padding-left:50px!important;padding-right:50px!important}
.space-align-bg>.vc_column-inner{padding:40px}
.space-align-bg-two>.vc_column-inner{padding:50px!important}
.divider:after,.divider:before{display:none}
.txt-padding-align{padding-right:0!important;padding-left:0!important}
}
@media only screen and (max-width:479px){
.event-contact-info.wpb_column{width:100%;margin:20px 0 0 0}
.event-contact-info:before{left:0;width:100%;background-size:100%}
.event-contact-info .dt-sc-sociable li{margin-bottom:20px}
.rs_padding_left-override.vc_row .vc_column-inner,.rs_padding_left-override.wpb_column .vc_column-inner{padding-left:15px!important}
.vc_row.vc_row-no-padding .responsive-padding>.vc_column-inner{padding-right:35px;padding-left:35px}
.dt-sc-tabs-vertical-frame-container.rs_align_middle .dt-sc-tabs-vertical-frame-content,.dt-sc-tabs-vertical-frame-container.rs_align_middle ul.dt-sc-tabs-vertical-frame{margin:0}
.dt-sc-tabs-vertical-frame-container.rs_align_middle ul.dt-sc-tabs-vertical-frame>li>a,.dt-sc-tabs-vertical-frame-container.rs_align_middle ul.dt-sc-tabs-vertical-frame>li>a.current{border-right:1px solid rgba(0,0,0,.1)}
.gradient-content .dt-sc-button.medium{padding:14px 20px}
.overflow-content{margin:0}
.hosting-table th{text-transform:capitalize;font-size:12px;padding:13px 6px}
.hosting-table tbody tr:nth-child(2n+1) td,.hosting-table tr td{font-size:12px;padding:22px 8px}
.rs_fontsize_small{font-size:40px!important}
.rs_padding_override.vc_row,.rs_padding_override.wpb_column .vc_column-inner{padding-left:30px!important;padding-right:30px!important}
.business-contact-social li{margin:0 15px}
.tab-with-bg .vc_column-inner{padding:20px!important}
}
@media only screen and (max-width:319px){
.event-contact-info.wpb_column{padding-left:20px;padding-right:20px}
.event-contact-info .dt-sc-contact-info span{width:100%;text-align:center;float:none;margin:0}
.hosting-contact-info-container:before{left:0}
.hosting-contact-info-container .dt-sc-contact-info.type7{padding-left:0}
.hosting-contact-info-container .dt-sc-contact-info.type7 span{left:0}
.hosting-contact-info-container:before{width:100%}
.hosting-table th{font-size:10px;padding:13px 0}
.hosting-table tbody tr:nth-child(2n+1) td,.hosting-table tr td{font-size:10px;padding:21px 7px}
.rs_fontsize_small{font-size:32px!important}
.rs_padding_override.vc_row,.rs_padding_override.wpb_column .vc_column-inner{padding-left:20px!important;padding-right:20px!important}
.dt-sc-text-with-icon{font-size:10px;padding-left:15px}
.dt-sc-text-with-icon span{font-size:15px;margin-right:5px}
}